@media only screen and (max-width: 600px) {

        #container {
            left: 35px;
            top: 0;
            height: 800px;
        }

        #screen {
            height: 782px;
        }

        #homeGrid {
            bottom: 9px;
        }
    }