#musicJPG {
    width: 300px;
    height: 290px;
    position: relative;
    top: -23%;
}

#musicInfo {
    width: 90px;
    height: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
}

#musicInfo h3>a {
    color: white;
}

#musicInfo h7 a {
    color: rgb(120, 120, 120);
    font-size: 15px;
    display: grid;
}

#musicLine {
    background-color: rgb(68, 66, 66);
    width: 300px;
    height: 3px;
    position: absolute;
    bottom: 22%;
    left: 14%;
    border-radius: 5px;
}

#musicLineDot {
    background-color: white;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    bottom: -3px;
}

#startTime {
    color: rgb(120, 120, 120);
    position: absolute;
    bottom: 18%;
    left: 14%;
}

#endTime {
    color: rgb(120, 120, 120);
    position: absolute;
    bottom: 18%;
    right: 14%;
}

#heartBox {
    border: 1px solid white;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 97.5px;
    transform: rotate(-45deg);
    left: 66px;
    background-color: white;
    border-radius: 2px 10px 20% 0;
    transition: all 0.5;
}

#heartLeft {
    border-left: 2px solid white;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 101.5px;
    border-radius: 50%;
    left: 61.3px;
    transform: rotate(45deg);
    background-color: white;
    transition: all 0.5s;
}

#heartRight {
    border-right: 2px solid white;
    background-color: white;
    width: 13px;
    height: 13px;
    position: absolute;
    bottom: 101px;
    left: 70px;
    border-radius: 50%;
    transform: rotate(-50deg);
    transition: all 1s;
}

#previousButtonLeft {
    width: 4px;
    height: 23px;
    background-color: white;
    position: absolute;
    bottom: 95px;
    left: 31%;
}

#previousButtonRight {
    position: absolute;
    bottom: 98px;
    left: 30.5%;
    border-bottom: 17px solid white;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    transform: rotate(-90deg);
}

#playButton {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 83px;
    left: 45%;
}

.playButtonTriangle {
    position: absolute;
    bottom: 17px;
    left: 19px;
    border-bottom: 13px solid black;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    transform: rotate(90deg);
}

#nextButtonLeft {
    position: absolute;
    bottom: 98px;
    left: 64.5%;
    border-bottom: 17px solid white;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    transform: rotate(90deg);
}

#nextButtonRight {
    width: 4px;
    height: 23px;
    background-color: white;
    position: absolute;
    bottom: 95px;
    left: 69%;
}

#removeButtonCircle {
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 97px;
    right: 60px;
    border-radius: 50%;
    border: 1.5px solid white;
}

#removeButtonLine {
    position: absolute;
    width: 12px;
    height: 1.5px;
    top: 8.5px;
    left: 3px;
    background-color: white;
}

#playlistInfo {
    color: white;
    position: absolute;
    top: 24px;
    left: 55px;
}

#playlistInfo p {
    font-size: 10px;
    letter-spacing: 2px;
    position: relative;
    top: 3px;
    left: 40px;
}

#playlistInfo h5 {
    position: absolute;
    top: 7px;
    left: 110px;
    letter-spacing: 1px;
    font-weight: 700;
}

#deviceIcon1 {
    position: absolute;
    width: 15px;
    height: 10px;
    border-radius: 3px;
    border: 2px solid #1DB954;
    bottom: 50px;
    transition: all 1s;
}

#deviceIcon2 {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: #1DB954;
    bottom: 45px;
    left: 59px;
    border-radius: 10px;
    transition: all 1s;
}

#deviceName {
    color: #1DB954;
    position: absolute;
    bottom: 38px;
    font-size: 10px;
    left: 90px;
    letter-spacing: 1px;
    transition: all 1s;
}

#share {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 30px;
    right: 45px;
    border-radius: 50%;
}

#topCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 14px;

}

#middleCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid white;
    margin-top: 3px;
}

#bottomCircle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: 15px;
    margin-top: 3px;
}

#bottomLine {
    width: 13px;
    height: 2px;
    background-color: white;
    transform: rotate(35deg);
    position: absolute;
    bottom: 10px;
    left: 5px;

}

#topLine {
    width: 13px;
    height: 2px;
    background-color: white;
    transform: rotate(-35deg);
    position: absolute;
    top: 6px;
    left: 3px;
}

#dots {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20px;
    width: 20px;
    position: absolute;
    right: 42px;
    top: 40px;
    justify-content: center;
}

#dots div {
    display: grid;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: white;
}

#twoLines {
    position: absolute;
    width: 21.5px;
    height: 21.5px;
    top: 45px;
    left: 45px;
}

#twoLines :nth-child(1) {
    position: absolute;
    top: 8px;
    left: 0;
    width: 13px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
    border-radius: 5px;
}

#twoLines :nth-child(2) {
    position: absolute;
    top: 8px;
    right: 0;
    width: 13px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
    border-radius: 5px;
}

a {
    text-decoration: none;
}

/* ----------------HOVERS------------------------- */

#device:hover #deviceIcon1 {
    width: 13px;
    height: 8px;
    left: 61px;
}

#device:hover #deviceIcon2 {
    left: 60px;
    width: 20px;
    height: 1.5px;
}

#device:hover #deviceName {
    left: 85px;
}

#share:hover>.shareCircle {
    border: 1px solid rgb(120, 120, 120);
}

#share:hover>.shareLine {
    background-color: rgb(120, 120, 120);
}

#previousButton:hover #previousButtonLeft {
    background-color: rgb(68, 66, 66);
}

#previousButton:hover #previousButtonRight {
    border-bottom: 17px solid rgb(68, 66, 66);
}

#nextButton:hover #nextButtonLeft {
    border-bottom: 17px solid rgb(68, 66, 66);
}

#nextButton:hover #nextButtonRight {
    background-color: rgb(68, 66, 66);
}

#playButton:hover {
    opacity: 40%;
}

#playButton:hover>div {
    opacity: 40%;
}

#removeButtonCircle:hover {
    opacity: 40%;
}

/* ------------------ANIMATIONS--------------- */

.changePlayButtonTriangle {
    width: 4px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 16px;
    left: 16px;
}

.changePlayButtonRight {
    width: 4px;
    height: 20px;
    background-color: black;
    position: absolute;
    top: 16px;
    left: 28px;
}

.moveRight {
    animation: moveRight 10s linear;
}

@keyframes moveRight {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

/* ---------------------RESPONSIVITY------------------ */

@media only screen and (max-width: 600px) {

    #container {
        left: 35px;
        top: 0;
        height: 800px;
    }

    #screen {
        height: 782px;
    }

    #musicInfo {
        width: 110px;
    }
}