.wrapper {
    position: absolute;
    background-color: transparent;
    border-radius: 25px;
    width: 410px;
    height: 110px;
    top: 0;
    display: grid;
    justify-content: center;
    color: white;
}

.wrapper p {
    text-align: left;
    font-size: 23px;
}

#temp {
    position: relative;
    bottom: 80px;
    left: -60px;
}

#description {
    position: relative;
    left: 80px;
}